
{% liquid
  assign card_badge_position = settings.card_badge_position
  assign show_sold_out_badge = settings.card_show_sold_out_badge
  assign show_discount_badge = settings.card_show_discount_badge
  assign show_custom_marquee = settings.show_custom_marquee
  assign price_difference = card_product.compare_at_price
  assign badge_style = settings.badge_style

	assign card_label_texts = settings.card_label_text | split: ','
	assign use_tags = false
	for tag in card_product.tags
		assign tag_label = tag | handle |  downcase |  escape
		for card_label_text in card_label_texts
			assign card_label = card_label_text | handle |  downcase |  escape
			if tag_label == card_label
				assign use_tags = true
			break 
			endif
		endfor
	endfor
%}
{%- case card_sale_badge_type -%}
  {%- when 'percentage' -%}
    {%- assign discount_value = price_difference | minus: card_product.price | times: 100.0 | divided_by: price_difference | round | append: '%' -%}
  {%- when 'fixed' -%}
    {%- assign discount_value = price_difference | minus: card_product.price | money -%}
{%- endcase -%}

<div class="card__badge {{ card_badge_position }}">
    {%- if card_product.tags contains "price-upon-request" -%}
        <span class="badge price__badge-upon-request badge-{{ badge_style }}" >
            Custom!
        </span>
    {%- endif -%}
{% comment %} <div class="card__badge {{ card_badge_position }}">
    {%- if card_product.available == false and show_sold_out_badge -%}
        <span class="badge price__badge-sold-out badge-{{ badge_style }}" >
          {{- 'products.product.sold_out' | t -}}
        </span>
    {%- elsif price_difference > card_product.price and card_product.available  and show_discount_badge -%}
        <span class="badge price__badge-sale badge-{{ badge_style }}" >
            {%- if card_sale_badge_type == 'text' -%}
              {{- 'products.product.on_sale' | t -}}
            {%- else -%}
              {{- 'products.product.save_html' | t: save_amount: discount_value -}}
            {%- endif -%}
        </span>
    {%- endif -%} {% endcomment %}
    {% if use_tags and settings.card_label_position == 'inner' %}
        {% for tag in card_product.tags %}
            {%- assign tag_label = tag | handle |  downcase |  escape -%}
            {% for card_label_text in card_label_texts  %}
                {%- assign card_label = card_label_text | handle |  downcase |  escape -%}
                {% if tag_label == card_label %}
                    <div class="badge product__badge-label badge-{{ badge_style }}">{{ card_label_text }}</div>
                {%  break  %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
{% if show_custom_marquee and card_product.metafields.ortheme.custom_marquee != blank %}
    <div class="card__badge-marquee whitespace-nowrap overflow-hidden flex items-center justify-start py-3">
        {% for i in (1..15) %}
            <span class="card__badge-marquee-item inline-flex whitespace-nowrap px-8">
                {{- card_product.metafields.ortheme.custom_marquee -}}
            </span>
        {% endfor %}
    </div>
{% endif %}
