<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
{%- for childlink in link.links -%}
  <li>
    {%- if childlink.links == blank -%}
      <a
        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
        href="{{ childlink.url }}"
        class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
        {% if childlink.current %}
          aria-current="page"
        {% endif %}
      >
        {{ childlink.title | escape }}
      </a>
    {%- else -%}
      <collapsible-menu-item {% if submenu_behavior == 'always-open' %} class="open" {% endif %}>
      <div class="collapsible-menu-item-wrapper">
        {% if mobile_menu_behavior == 'link-and-toggle' %}
          <div class="flex flex-row items-center details-link-and-toggle"> 
            <a
              href="{{ childlink.url }}"
              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %} flex-1"
              {% if childlink.current %}
                aria-current="page"
              {% endif %}
            >
              {{ childlink.title | escape }}
            </a>
            <button
                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                class="menu-drawer__menu-item link link--text list-menu__item focus-inset collapsible-trigger w-full relative "
              >
              <span class="sr-only">{{ childlink.title | escape }}</span>
              {% render 'icon-arrow' %}
            </button>
          </div>
        {% else %}
          <button
            id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset collapsible-trigger w-full relative"
          >
            {{ childlink.title | escape }}
          {% render 'icon-arrow' %}
        </button>
        {% endif %}
        <div class="collapsible-content" role="region" aria-labelledby="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}">
            <ul
              class="menu-drawer__menu list-menu"
              role="list"
              tabindex="-1"
            >
              {%- for grandchildlink in childlink.links -%}
                {%- if has_mega and current_block != nil -%}
                  {% liquid 
                      assign selected_value = grandchildlink.title | downcase | strip
                      assign image_custom = blank
                      for item in custom_image_config
                          assign parts = item | split: ':'
                          assign name = parts.first | downcase | strip
                          if selected_value == name
                              assign swatch_value = parts.last | strip
                              if images[swatch_value] != blank and enable_custom_image_nav
                                  assign image_custom = images[swatch_value]
                              endif
                          endif
                      endfor
                  %}
                {%- endif -%}
                <li>
                  <a
                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                    href="{{ grandchildlink.url }}"
                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %} {% if image_custom != blank %} menu-drawer__menu-item--image {% endif %}"
                    {% if grandchildlink.current %}
                      aria-current="page"
                    {% endif %}
                  >
                  {%- if has_mega and current_block != nil -%}
                      {%- capture image_custom_mobile -%}
                        {%- if image_custom != blank -%}
                          <span class="menu-drawer__menu-item--image-custom">
                            {{- image_custom | image_url: width: image_custom.width | image_tag: loading: 'lazy', sizes: '36px', widths: '36,72', class: 'object-cover absolute inset-0 size-full' -}} 
                          </span>
                        {%- endif -%}
                      {%- endcapture -%}
                      {%- case current_block.type -%}
                        {%- when 'megamenu' -%}
                          {{ image_custom_mobile }}
                        {%- when 'megamenu_classic' -%}
                          {{ image_custom_mobile }}
                      {%- endcase -%}
                    {%- endif -%}
                    {{ grandchildlink.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
        </div>
      </div>
      </collapsible-menu-item>
    {%- endif -%}
  </li>
{%- endfor -%}

</ul>