{% unless template contains 'product' %}
<link rel="preload" href="{{ 'section-main-product.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-product-variant-picker.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}"></noscript>
<noscript><link rel="stylesheet" href="{{ 'component-product-variant-picker.css' | asset_url }}"></noscript>
{% endunless %}
{{ 'quick-view.css' | asset_url | stylesheet_tag }}
<div class="product-quick-view-container">
    <div class="product-quick-view__overlay" data-quick-view-close></div>
    <div 
        id="product-quick-view" 
        class="modal product-quick-view isolate"
        role="dialog"
        aria-modal="true"
        aria-label="Product quick view"
    >
        <div class="product-quick-view__content scroll-container">
            <button 
                class="product-quick-view__close close-modal" 
                tabindex="0" 
                aria-label="{{ 'accessibility.close' | t }}"
                data-quick-view-close
            >
                {% render 'icon-close' %}
            </button>
            <div 
                id="product-quick-view__product-content" 
                class="product-quick-view__product-content"
                data-quick-view-inject-target
            >
            </div>
        </div>
    </div>
</div>